/* Mobile */
@media (max-width: 426px) {
  body {
    margin-left: 7vw;
    margin-right: 5vw;
  }

  /* Navbar */
  .logo-img {
    width: 4vh;
    height: auto;
  }

  .company-name {
    font-size: 1.5vh;
  }

  .navbar {
    flex-wrap: wrap;
    width: 85%;
  }

  .nav-links {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    background-color: var(--background_color);
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1000;
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .menu-toggle {
    display: flex;
  }

  /* About */

  .about-section {
    margin-bottom: 0;
    max-height: 550vh;
    width: 100%;
  }
  .about-container {
    height: auto; /* Adjust height to fit content */
    max-width: fit-content;
    justify-content: center;
  }

  .about-left,
  .about-center,
  .about-right,
  .about-bottom {
    position: static; /* Remove absolute positioning */
    width: 100%;
    text-align: center; /* Center text content */
  }
  .intro {
    font-size: 3vh;
  }

  .about-description {
    max-width: 70vh;
  }

  .intro-description {
    font-size: 2vh;
  }

  .about-center {
    max-height: 50.5vh;
  }

  .blob-container {
    display: none;
  }
  .blob {
    display: none;
  }
  .about-right h2 {
    font-size: 3vh;
  }

  .about-description {
    font-size: 1.5vh;
  }
  .about-left-content,
  .about-right-content {
    text-align: center; /* Center text content */
  }

  .about-bottom {
    padding-top: 4vh;
  }

  .about-bottom h2 {
    font-size: 5vh;
  }

  /* Experience */
  .experience-top h2 {
    font-size: 3vh;
  }

  .experience-center {
    flex-direction: column;
    margin-left: 0; /* Reset margin */
    margin-right: 0;
  }

  .experience-frame {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .experience-frame-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .experience-details {
    width: 100%;
    margin-top: 0; /* Reset margin */
  }

  .experience-title {
    font-size: 2vh;
    position: relative;
  }

  .experience-date {
    margin-top: -2vh;
    font-size: 1.5vh;
  }

  .experience-description {
    font-size: 1.5vh;
    text-align: left;
  }

  .experience-image,
  .experience-image-left {
    width: 80%;
    border-radius: 0;
  }

  .experience-frame-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0;
    margin-right: 0; /* Reset margin */
  }

  .experience-bottom {
    margin-top: -8vh;
  }

  .experience-bottom-text {
    font-size: 5vh;
  }

  .experience-divider {
    height: 0.1rem;
    top: auto;
  }

  /* Remove animations for tablet view */
  .experience-frame-1,
  .experience-frame-2,
  .experience-top,
  .experience-bottom {
    transition: none;
    transform: none;
  }

  /* Hobby */
  .hobby-top {
    margin-bottom: 0.5rem;
  }

  .hobby-header {
    font-size: 3vh;
  }

  .filter {
    font-size: 1.5vh;
  }

  .images {
    gap: 0;
  }

  .image-item {
    width: 40%;
    z-index: 2;
  }

  .image-item:hover {
    transform: scale(1);
  }

  .image-keyword {
    font-size: 1.5vh;
  }

  .image-title {
    font-size: 1.5vh;
  }

  .hobby-bottom-text {
    z-index: -9;
    font-size: 5vh;
  }

  .hobby-divider {
    height: 0.1rem;
    top: auto;
  }

  /* Blog */
  .blog-header {
    font-size: 3vh;
    margin-bottom: 1rem;
  }

  .blog-center {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
  }

  .blog-card {
    width: 39vw;
  }

  .blog-details {
    padding: 1rem;
  }

  .blog-date {
    font-size: 1vh;
  }

  .blog-title {
    font-size: 2vh;
    margin-bottom: 1vh;
  }

  .blog-link {
    font-size: 1.5vh;
  }

  .blog-bottom {
    margin-top: -3rem;
  }

  .blog-bottom-text {
    font-size: 5vh;
  }

  /* Contact */
  .contact-title {
    font-size: 3vh;
  }

  .contact-line {
    height: 0.1rem;
  }

  .contact-center {
    margin-top: 1rem;
    margin-bottom: -8rem;
  }
  .top-frame {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    gap: 0;
  }

  .bottom-frame {
    margin: 0;
    width: fit-content;
  }

  .contact-item {
    scale: 0.7;
  }
  .contact-bot {
    margin-top: 5vh;
  }

  .contact-bot-text {
    padding-top: 8vh;
    font-size: 5vh;
  }

  .social-media-icons {
    scale: 0.7;
    margin: 0;
  }

  .footer {
    margin-top: 1rem;
  }

  .footer-text {
    font-size: 1.5vh;
  }
}
